# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/
# package-lock.json ignoré à la racine mais autorisé dans backend/
package-lock.json
!backend/package-lock.json

# Build
dist/
.cache/

# Env
.env
.env.local
